{% extends "base.html" %} {% block title %}Tsuki - Feed{% endblock %} {% block
content %}
<h2>User Feed</h2>
<br />
{% if posts %} {% for post in posts %}
<span class="avatar-small">
  {% if post.avatar %}
  <img src="{{ post.avatar }}" />
  {% else %}
  <img src="{{ url_for('static', path='/images/avatar.jpg') }}" />
  {% endif %}
</span>
<h3 style="display: inline-block">
  <a href="/user/{{ post.username }}">@{{ post.username }}</a>
</h3>
<a href="/post/{{ post.id }}">
  <p>{{ post.body }}</p>
  <p class="separator">{{ post.created_at }}</p>
</a>
{% endfor %}
<h3 style="padding-top: 10px">
  <a href="/feed?more=True"
    ><i class="fa-solid fa-circle-chevron-down"></i> More</a
  >
</h3>
{% else %}
<p style="color: rgb(130, 130, 130)">No posts found.</p>
{% endif %} {% endblock %}
