{% extends "base.html" %} {% block title %}Tsuki - Home{% endblock %} {% block
content %}
<p>
  Tsuki is a minimalistic open-sourced social media platform, built using
  Python.
</p>
<br />
<h2>About</h2>
<p>
  <b><i>Tsuki</i></b> (つき) is a noun meaning <i>the moon</i> in Japanese. The
  Tsuki project aims to be simple yet graceful like the moon. It is an easy to
  use minimal social media platform.
</p>
<p>
  We chose this name due to the core developer's favourite quote,
  つきがきれいですね meaning
  <i>the moon is beautiful, isn't it?</i>
</p>
<br />
<h2>Contribute</h2>
<p>
  The Tsuki project is open for contributions on
  <a href="https://github.com/Devansh3712/tsuki" target="_blank">GitHub</a>.
</p>
{% endblock %}
