{% extends "base.html" %} {% block title %}Tsuki - Post{% endblock %} {% block
content %}
<h2>Create Post</h2>
<p>Create a new post from your account.</p>
<form name="post" action="/post" method="POST">
  <textarea
    name="body"
    style="
      background-color: rgb(15, 15, 15);
      color: white;
      font-family: inherit;
      font-size: 16px;
      resize: none;
      height: 180px;
      width: 500px;
      outline: none;
      margin-bottom: 10px;
      box-sizing: border-box;
      border: 2px solid rgb(130, 130, 130);
      border-radius: 15px;
      padding: 20px;
    "
    maxlength="320"
  ></textarea>
  <br />
  <button type="submit">Create</button>
</form>
{% endblock %}
