{% extends "base.html" %} {% block title %}Tsuki - Search{% endblock %} {% block
content %}
<h2>Search Users</h2>
<form name="search" action="/search" method="POST">
  <input
    name="search"
    type="text"
    maxlength="32"
    placeholder="Enter username"
    pattern="^[A-Za-z0-9._]{1,32}$"
    title="Usernames only contain alphabets, digits, periods (.) and underscores (_)"
    required
  />
</form>
{% if users %} {% for user in users %}
<form
  name="follow"
  action="/search/{{ user['username'] }}/toggle-follow"
  method="POST"
>
  <a href="/user/{{ user['username'] }}">
    <h3 style="display: inline-block">@{{ user['username'] }}</h3>
  </a>
  &nbsp; {% if user['follows'] == True %}
  <button type="submit">Unfollow</button>
  {% elif user['follows'] == False %}
  <button type="submit">Follow</button>
  {% endif %}
</form>
<p class="separator">
  {{ user['posts'] }} posts &nbsp; {{ user['followers'] }} followers &nbsp; {{
  user['following'] }} following
</p>
{% endfor %} {% else %}
<p style="color: rgb(130, 130, 130)">No users found.</p>
{% endif %} {% endblock %}
