{% extends "base.html" %} {% block title %}Tsuki - Update Account{% endblock %}
{% block content %}
<h2>Update {{ type.title() }}</h2>
<p>Update your Tsuki account {{ type }}.</p>
<form
  name="update"
  action="/user/settings/update-{{ type }}"
  method="POST"
  enctype="multipart/form-data"
>
  <label for="{{ type }}">{{ type.title() }}</label>
  <br />
  {% if type == "username" %}
  <input name="username" type="text" maxlength="32" required />
  {% elif type == "password" %}
  <input
    name="password"
    id="password"
    type="password"
    maxlength="32"
    required
  /><i
    class="fa-solid fa-eye"
    style="margin-left: 10px; cursor: pointer"
    id="togglePassword"
  ></i>
  <br />
  {% else %}
  <input name="avatar" type="file" accept="image/*" required />
  {% endif %}
  <br />
  <button type="submit">Submit</button>
</form>
<p>{{ message }}</p>
{% endblock %}
