{% extends "base.html" %} {% block title %}Tsuki - User{% endblock %} {% block
content %}
<div class="row">
  <div class="column">
    <h2>User Information</h2>
    <br />
    {% for column in user_data %}
    <p class="user-data">
      <b>{{ column.replace("_", " ").title() }}:</b> {{ user_data[column] }}
    </p>
    {% endfor %}
    <p class="user-data">
      <b>Followers:</b> <a href="#" id="btn-1">{{ followers|length }}</a>
    </p>

    <div id="modal-1" class="modal">
      <div class="modal-content">
        <span class="close-1">&times;</span>
        <h3>Followers</h3>
        {% for user in followers %}
        <p class="modal-data">
          <a href="/user/{{ user[0] }}">@{{ user[0] }}</a>
        </p>
        {% endfor %}
      </div>
    </div>
    <!-- </p> -->
    <p class="user-data">
      <b>Following:</b> <a href="#" id="btn-2">{{ following|length }}</a>
    </p>

    <div id="modal-2" class="modal">
      <div class="modal-content">
        <span class="close-2">&times;</span>
        <h3>Following</h3>
        {% for user in following %}
        <p class="modal-data">
          <a href="/user/{{ user[0] }}">@{{ user[0] }}</a>
        </p>
        {% endfor %}
      </div>
    </div>
    <span class="avatar">
      {% if avatar %}
      <img src="{{ avatar }}" />
      {% else %}
      <!-- <img src="{{ url_for('static', path='/images/avatar.jpg') }}" /> -->
      <img src="https://iili.io/kRkKyG.jpg" />
      {% endif %}
    </span>
    <!-- </p> -->
    {% if not settings %}
    <br />
    <form
      name="follow"
      action="/user/{{ user_data['username'] }}/toggle-follow/"
      method="POST"
      style="margin-top: 40px"
    >
      {% if follows == True %}
      <button type="submit">Unfollow</button>
      {% elif follows == False %}
      <button type="submit">Follow</button>
      {% endif %}
    </form>
    {% endif %} {% if settings %}
    <br />
    <h2 style="margin-top: 60px">Settings</h2>
    {% if not user_data["verified"] %}
    <p>➜ <a href="/auth/verify">Verify account</a></p>
    {% endif %}
    <p class="user-data">
      ➜ <a href="/user/settings/update-avatar">Update avatar</a>
    </p>
    <p class="user-data">
      ➜ <a href="/user/settings/update-username">Update username</a>
    </p>
    <p class="user-data">
      ➜ <a href="/user/settings/update-password">Update password</a>
    </p>
    <p class="user-data">
      ➜ <a href="/user/settings/delete">Delete account</a>
    </p>
    {% endif %}
  </div>
  <div class="column">
    <h2>Recent Posts</h2>
    <br />
    {% if posts %} {% for post in posts %}
    <a href="/post/{{ post.id }}">
      <p class="content">{{ post.body }}</p>
      <p class="separator">{{ post.created_at }}</p>
    </a>
    {% endfor %} {% if user_data["posts"] != posts|length %}
    <h3 style="padding-top: 10px">
      <a href="/user/{{ user_data['username'] }}?more=True"
        ><i class="fa-solid fa-circle-chevron-down"></i> More</a
      >
    </h3>
    {% endif %} {% else %}
    <p style="color: rgb(130, 130, 130)">No posts found.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
