<html>
  <head></head>
  <body
    style="
      font-family: 'Courier New', Courier, monospace;
      padding-left: 15px;
      padding-top: 10px;
    "
  >
    <h1>Tsuki</h1>
    <h2>Account Verification</h2>
    <p>
      Hi {0}, please confirm that {1} is your e-mail address by clicking the
      button below or using this link {2} within 48 hours.
    </p>
    <a href="{2}"
      ><button
        style="
          background-color: rgb(124, 124, 124);
          border: none;
          color: white;
          padding: 5px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-family: inherit;
          font-size: 16px;
          cursor: pointer;
        "
      >
        Verify
      </button></a
    >
  </body>
</html>
